@model OrderTotalsModel

<h2 class="fs24 fw500 text-black">Cart totals</h2>
<p class="experince-content border-b mb-0 pt-0 text-black fs16 fw400 d-flex align-items-center justify-content-between">@T("ShoppingCart.Totals.SubTotal")<span class="fs16 fw600 text-black">@Model.SubTotal</span></p>
<p class="experince-content border-b mb-0 text-black fs16 fw400 d-flex align-items-center justify-content-between">
    Service Charges<span class="fs16 fw400 text-black">Free</span>
</p>
@if (!string.IsNullOrEmpty(Model.SubTotalDiscount))
{
    <p class="experince-content border-b mb-0 text-black fs16 fw400 d-flex align-items-center justify-content-between">
        @T("ShoppingCart.Totals.SubTotalDiscount")<span class="fs16 fw600 text-blue">@Model.SubTotalDiscount</span>
    </p>
}
@if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
{
    <p class="experince-content border-b mb-0 text-black fs16 fw400 d-flex align-items-center justify-content-between">
        @T("ShoppingCart.Totals.OrderTotalDiscount")<span class="fs16 fw600 text-blue">@Model.OrderTotalDiscount</span>
    </p>
}
<p class="experince-content border-b mb-0 text-black fs16 fw600 d-flex align-items-center justify-content-between">
    @T("ShoppingCart.Totals.OrderTotal")<span class="fs18 fw600 text-black">@Model.OrderTotal</span>
</p>