@model ProductOverviewModel

@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax

@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@inject ICustomerService customerService

@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}

@{
    var currentCustomer = await workContext.GetCurrentCustomerAsync();
    var customer = await customerService.IsRegisteredAsync(currentCustomer);
}

<div class="product-cart" data-productid="@Model.Id">
    @if (Model.PictureModels.Count > 1)
    {
        @foreach (var picture in Model.PictureModels)
        {
            <a class="slid-itm1 d-block text-decoration" href="@(Url.RouteUrl<Product>(new { SeName = Model.SeName }))" title="@picture.Title">
                <img class="img-fluid" alt="@picture.AlternateText" src="@picture.ImageUrl" title="@picture.Title" />
            </a>
        }
    }
    else
    {
        var picture = Model.PictureModels.FirstOrDefault();
        <a class="slid-itm1 d-block text-decoration" href="@(Url.RouteUrl<Product>(new { SeName = Model.SeName }))" title="@picture?.Title">
            <img class="img-fluid" alt="@picture?.AlternateText" src="@picture?.ImageUrl" title="@picture?.Title" />
        </a>
    }
    <div class="product-content-box mt-3">
        <a class="user-box d-block text-decoration d-flex align-items-center mb-2" href="@(Url.RouteUrl<Product>(new {SeName = Model.SeName }))"></>
            @if (customer)
            {
                @* @if (catalogSettings.ShowSkuOnCatalogPages && !string.IsNullOrEmpty(Model.Sku))
                {
                    <div class="sku">
                        @Model.Sku
                    </div>
                } *@
                <div class="user-profile-box position-relative">
                    <img class="img-fluid" alt="@Model.VendorModel.PictureModel.AlternateText" src="@Model.VendorModel.PictureModel.ImageUrl" title="@Model.VendorModel.PictureModel.Title">
                    <div class="active-dots position-absolute"></div>
                </div>
                <h3 class="user-name mb-0 text-blue fs18 fw600 ms-2">@Model.VendorModel.Name</h3>
            }
            else
            {
                var productUrl = Url.RouteUrl<Product>(new { SeName = Model.SeName });

                var returnUrl = Context.Request.Query.TryGetValue("returnUrl", out var url) && !StringValues.IsNullOrEmpty(url)
                ? url.ToString() : productUrl;

                <h3 class="mb-0 text-blue fs18 fw600">
                    <a href="@Url.RouteUrl("Login", new { returnUrl })" class="nav-link"> Sign in to view name </a>
                </h3>
            }
        </a>
        <p class="p-text fs14 fw400 description mb-2" @(catalogSettings.ShowShortDescriptionOnCatalogPages ? "" : "data-short-description=none")>
            @Html.Raw(Model.VendorModel.Description)
        </p>
        @if (Model.ReviewOverviewModel.AllowCustomerReviews)
        {
            var ratingPercent = 0;
            if (Model.ReviewOverviewModel.TotalReviews != 0)
            {
                ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
            }
            <div class="d-flex align-items-center justify-content-between">
                <div class="rating-box d-flex align-items-center">
                    <img width="20" height="20" src="~/themes/DisTwisters/content/img/star.png" alt="">
                    <span class="ms-2 pt-1 starrate span1 fw600 fs16">@(ratingPercent)</span>
                    <span class="ms-2 pt-1 starrate span2 fw500 fs16">(@Model.ReviewOverviewModel.TotalReviews)</span>
                </div>
            </div>
        }
    </div>
</div>
